{% extends "::base.html.twig" %}

{% block title %}AppBundle:Heroku:my{% endblock %}

{% block body %}
<h1>Welcome to the Heroku:my page</h1>
 <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Mobilephone</th>
              
            </tr>
        </thead>
        <tbody>
        {% for contact in result %}
            <tr>
                <td>{{ contact.id }}</a></td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.mobilePhone }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
